---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
  .slice(0,SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    ![Henning Scholand](/HS-banner.png)
    <h4 class="animate font-semibold text-black dark:text-white">
      Hi, ich bin Henning! <span class="text-xl">👋🏻</span> 
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
           Als Cloud Engineer, Security Evangelist und VoIP-Experte mit tiefem Know-how in modernen IT-Infrastrukturen, Netzwerktechnologien und Unternehmenskommunikation unterstütze ich Unternehmen bei der sicheren Architektur, Implementierung und dem Betrieb cloudbasierter Systeme (Hybrid- und Multi-Cloud). Mit Neugirde und Spaß verknüpfe ich und technische Exzellenz mit klarer Business-Orientierung.
          </p>

          <p class="animate">
            Bei der <Link href="https://digidim.de" aria-label="Digital Dimension IT GmbH" external>Digital Dimension IT GmbH</Link> verbinde ich diese technische Tiefe mit kundenfokussierter Beratung, um Lösungen zu liefern, die Security-by-Design, Compliance-Anforderungen und Geschäftsziele nahtlos vereinen. Mein Schwerpunkt liegt auf der sicheren Einführung und dem Betrieb von Cloud-Technologien, der Entwicklung und Umsetzung von IT-Sicherheitskonzepten On-Premises und in der Cloud sowie der Anaylse und Optimierung von komplexen VoIP-/Kommunikationsumgebungen.
          </p>

          <p class="animate">
            Als Security Evangelist treibe ich Awareness und Resilienz im Unternehmen voran – mit besonderem Fokus auf E-Mail-Sicherheit, Cloud-Security in Microsoft 365-Umgebungen und Zero-Trust-Architekturen. So entstehen maßgeschneiderte, skalierbare Lösungen, die messbaren Mehrwert liefern: robust, effizient und zukunftssicher.
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Neuste Einträge
          </h5>
          <Link href="/blog">
            mehr >
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Projekte
          </h5>
          <Link href="/projects">
            mehr >
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Kontakt
        </h5>
        <article>
          <p>
            Wenn du mit mir über IT-Themen, Netzwerktechnik oder einfach nur zum Grüßen in Kontakt treten möchtest, melde dich auf LinkedIn oder schicke mir eine E-Mail.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            
              {SITE.EMAIL}

          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
